/* MY-TABS VERTICAL */
.tabs-v {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

.tabs-v label {
	position: relative;
	order: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 270px;
	height: calc(500px / 6);
	padding: 10px 15px;
	margin-bottom: 0;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 500ms ease-in-out;
}

.tabs-v label>img {
	width: 120px;
	height: auto;
	filter: saturate(0);
	transition: all 500ms ease-in-out;
}

.tabs-v label>p {
	padding: 0 0 0 5px;
	margin: 0;
	font-family: sans-serif;
	font-size: 1.2em;
	color: #909090;
	text-transform: uppercase;
	transition: all 500ms ease-in-out;
}

.tabs-v label:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.tabs-v label:hover>img {
	filter: saturate(1);
}

.tabs-v label:hover>p {
	color: var(--c1);
}

.tabs-v .tab-content {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 270px);
	padding: 0;
	margin: 0;
	display: none;
}

.tabs-v .tab-content>div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	background-color: #fff;
}

.tabs-v .tab-content>div>div {
	height: 500px;
}

.tabs-v .txt-tab {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 50%;
}

.tabs-v>input {
	display: none;
}

.tabs-v>input+label::before {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right: 0;
	transition: all 500ms ease;
	z-index: 1;
}

.tabs-v>input+label::after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 100%;
	background-color: #ccc;
	transition: all 500ms ease;
}

.tabs-v>input:checked+label {
	background-color: rgba(0, 0, 0, 0.1);
}

.tabs-v>input:checked+label::before {
	border: 8px solid transparent;
	border-right: 0;
	border-left-color: var(--c1);
}

.tabs-v>input:checked+label::after {
	width: 5px;
	background-color: var(--c1);
}

.tabs-v>input:checked+label>img {
	filter: saturate(1);
}

.tabs-v>input:checked+label>p {
	color: var(--c1);
}

.tabs-v>input:checked+label+.tab-content {
	display: block;
}

.tabs-v .txt-tab .song {
	flex: 0 0 calc(100% / 2);
	height: 250px;
	background-repeat: no-repeat;
	background-size:cover;
	border: 10px solid rgba(255,255,255,.9);
	box-shadow:inset 0px 0px 0px rgba(0,0,0,.6);
	position: relative;
	cursor: pointer;
	transition: box-shadow .5s;
}
.tabs-v .txt-tab .song:hover{
	box-shadow:inset 0px 0px 20px rgba(0,0,0,.6);
}
.tabs-v .txt-tab .song dl{
	padding: 10px;
	margin: 0;
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	z-index: 2;
	background-color: rgba(255,255,255,.6);
	transform: scale(0);
	transition: transform .5s ease;
}
.tabs-v .txt-tab .song:hover dl{
	transform: scale(1);
}
.tabs-v .txt-tab .song dl::after{
	content: "";
	display: block;
	clear: both;
}
.tabs-v .txt-tab .song dl dt{
	width:3em;
	float: left;
}
.tabs-v .txt-tab .song dl dd{
	width: calc(100% - 3em);
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: right;
}
.tabs-v [class*="img-tab"] {
	width: 50%;
	background-color: rgba(255,255,2);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	min-height: 35vh;
}

@media only screen and (max-width: 1239px) {
	.tabs-v {
		flex-direction: row;
	}

	.tabs-v label {
		display: block;
		width: calc(100% / 2);
		height: auto;
		padding: 15px 0 20px;
		text-align: center;
	}

	.tabs-v label>img {
		width: 180px;
	}

	.tabs-v label>p {
		padding: 15px 10px 0;
	}

	.tabs-v>input+label::before {
		display: none;
	}

	.tabs-v>input+label::after {
		right: auto;
		left: 50%;
		top: auto;
		bottom: 0;
		transform: translateX(-50%);
		width: 100%;
		height: 1px;
		border: none;
	}

	.tabs-v>input:checked+label::after {
		width: 100%;
		height: 5px;
		background-color: var(--c1);
	}

	.tabs-v .tab-content {
		order: 2;
		position: relative;
		width: 100%;
	}

	.tabs-v .tab-content>.reverse-tab>.txt-tab {
		order: 2;
	}

	.tabs-v .tab-content>div>div {
		width: 50%;
		height: auto;
	}

	.tabs-v .txt-tab {
		min-height: 25vh;
	}

}

@media only screen and (max-width: 959px) {
	.tabs-v .tab-content>div>div {
		width: 100%;
		height: auto;
		background-size: 100%;
	}

	.tabs-v .tab-content>.reverse-tab>.txt-tab {
		order: 0;
	}
}

@media only screen and (max-width: 767px) {
	.tabs-v label {
		width: calc(100% / 2);
		padding: 15px 0;
	}

	.tabs-v label>img {
		display: none;
	}

	.tabs-v label>p {
		padding: 0;
	}
	
	
	.tabs-v [class*="img-tab"] {
		min-height: 25vh;
	}
}

@media only screen and (max-width: 480px) {
	.tabs-v label {
		width: 100%;
	}
	.tabs-v .txt-tab .song{
		flex: 0 0 100%;
	}
}

/* FOR THE DEMO */

* {
	box-sizing: border-box;
}

body {
	padding: 5% 5%;
	background: #f4f4f4;
	font-family: sans-serif;
}

h3,
p {
	margin-top: 0;
}

.tabs-v {
	margin-bottom: 10%;
}

.dn {
	display: none !important;
}

.my-btn-container {
	line-height: 0;
	margin-top: 15px;
}

.my-btn {
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	box-sizing: border-box;
	transition: all 350ms ease-in-out;
	font-size: 1em;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	color: #151515;
	background-color: transparent;
	border-color: #151515;
}

.my-btn:hover {
	color: #fff;
	background-color: var(--c1);
	border-color: var(--c1);
}

:root {
	--c1: #0792c7;
	--cc: 25px;
}
